body{
    background-image: url('./images/flagbackground.jpg');
}

.container{
    width:900px;
    height:750px;
    background-color:#002868;
    color:white;
    font-family: 'Merriweather', serif;
}
.btn{
    animated: slideInLeft;
    width:200px;
    background-color: #bf0a30;
    color:white;
    border-color:white;
}
.hide{
    display:none;
}
.question{
    color:white;
}
.questions{
    font-size: 20px;
    height:100px;
}
.btn:hover{
    background-color:white;
    color:#bf0a30;
}
.modal-header{
    background-color: #bf0a30;
    color:white;
}
.modal-body{
    color: #002868;
}
.modal-footer{
    background-color: #002868;
}